.container{
    display: flex;
    flex-direction: row;
   
    
}
.cardView{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 15px ;
    align-items: center;
    margin :5px;
   
}
.cardView>p{
    padding :5px;
}
.cardView >img{
height: 300px;
width: 100%;
    border-radius: 15px 15px 0 0;
}