.navs{
  background-color: aliceblue;
  
}
.nav{
  padding: 10px;
  width: 100%;
}
.btn{
  transition: transform 0.04s;
}
.btn:hover{
  border: 1px black solid;
  transform: scale(1.2);
  background-color: antiquewhite;
}

.logo img {
  width: 300px;

  justify-content: s;
}
.btn{
  font-size: larger;
}
.search {
  width: 60%;
  
}
.p-1{
width: 100%;
}
.titles{
font-size: small;
transition: transform 0.04s;
border-radius: 10px;
}
.titles:hover{
  
  transform: scale(1.2);

}

