
.color{
  background-color: #daeaef;
  height: 100px;
}
.nav-link:hover{
  background-color: rgb(245, 245, 245);
  transform: scale(1.2);
}
.nav-link{
  border-radius: 10px;
transition: transform .1s;
}