
.container {
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

 background-image: url(https://th.bing.com/th/id/R.79b8e018076404994c4d5d12f2025209?rik=97apBFJSeoHqhg&pid=ImgRaw&r=0) ;
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;

 background-size: cover;
 
 
}
.title {
 color: #4580ed;
text-align: center;
margin-bottom: 50px;
}
.khung {
 margin-bottom: 20px;

}
.input {
  display:flex;
 border: none;
}
.error{
  color: #da1212;
}
.btnSubmit{
  margin-top: 20px;
 height: 40px;
 width: 150px;
 background: #45c3ed;
 border-radius: 10px;
 color: #fff;
 font-weight: bold;
 border: 1px solid #8663cd;
}
.form{
  
}